* {
  margin: 0;
  padding: 0;
  font-family: 'Geist', sans-serif;
}

.container {
  width: 100%;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  text-align: center;
}

.thumb {
  width: 400px;
}

h1 {
  font-size: 40px;
  font-weight: 400;
}

p {
  font-size: 16px;
  color: #515151;
}

.social {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.social img {
  width: 30px;
  filter: grayscale(100%);
  transition: all 0.2s ease-in-out;
}

.social img:hover {
  filter: grayscale(0%);
}

.social .plus {
  width: 33px;
}

.site {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.site span {
  font-size: 14px;
  font-weight: 300;
}
