.main_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--stale-0);
  width: var(--container-lg);
  padding: var(--space-3) var(--space-4);
  border-radius: var(--radius-xl);
  border: 1px solid #ededed;
}

.nav_logo {
  /* background-color: darkmagenta;  */
}

.nav_logo img {
  margin-top: 0.5rem;
  width: 10rem;
}

.nav_menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  /* background-color: violet; */
  list-style: none;
  font-size: 1.6rem;
  font-weight: 500;
}

.nav_menu a {
  text-decoration: none;
  color: var(--slate-900);
}

.nav_cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  padding: var(--space-4) var(--space-6);
  border-radius: var(--radius-xl);
  background-color: var(--slate-900);
  color: var(--stale-0);
  font-size: 1.4rem;
  font-weight: 500;
}

.nav_cta svg {
  width: 1.5rem;
}
